.about {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    @media screen and (min-width: 1200px) {
        max-width: 1000px;
        margin: 50px auto 60px auto;
    }
    h3 {
        font-family: var(--subheader);
        @media screen and (min-width: 1200px) {
            font-size: 20px;
        }
    }
    p {
       width: 240px;
       @media screen and (min-width: 1200px) {
        width: 755px;
    }
    }
}

