@import '_fonts';

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    img {
        width: 100%;
        @media screen and (min-width: 1200px) {
            width: 450px;
            border-radius: 10px;
            margin-top: 40px;
            box-shadow: 0px 4px 8px 1px #0000000d;
        }
    }
    h1 {
        font-family: var(--header);
        text-align: center;
        font-weight: 700;
        font-size: 30px;
        text-transform: uppercase;
        margin: 20px 0 5px 0;
        @media screen and (min-width: 1200px) {
            font-size: 40px;
            margin: 40px 0 5px 0;
        }
    }
    a {
        margin: 3px 0;
        color: #000;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: var(--subh);
        }
    }
}
