@import '_fonts';

.navbar {
    margin-top: 20px;
    ul {
        display: flex;
        width: 100%;
        justify-content: center;
    }
    li {
        margin: 0 10px;
        font-family: var(--subheader);
        font-size: 14px;
        font-weight: 600;
        cursor: pointer;
        transition: color 0.2s ease-in-out;
        &:hover {
            color: var(--subh);
        }
        &:active {
            color: var(--subh);
        }
        @media screen and (min-width: 1200px) {
            font-size: 20px;
            margin: 0 20px;
        }
    }
}

